@import "base.css";
section{
    width: 1156px;
    height: 458px;
    background: #ffffff;
    margin-top: 73px;
    margin-left: 195px;
    overflow:hidden ;
    position: relative;
}
.top{
    width: 100%;
    height: 14px;
    /*background: aqua;*/
    padding-left:40px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    position: relative;
    margin-top: 22px;
    /*padding-top: 22px;*/
}
.shuxian{
    width: 2px;
    height: 11px;
    background-image: -webkit-linear-gradient(90deg,#6787ff,#33bffb);
    position: absolute;
    left: 30px;
    top: 2px;
}
.center{
    width: 100%;
    height: 29px;
    padding-left: 59px;
    /*background: green;*/
    margin-top: 21px;
    position: relative;
}
.center span{
    color: #999999;
}
.center input{
    width: 188px;
    height: 29px;
    background: #ffffff;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 14px;
}
.center button{
    width: 82px;
    height: 29px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 3px;
}
.btn1{
    margin-left: 8px;
    background: #4381e6;
}
.btn2{
    position: absolute;
    background: #25cb77;
    /*margin-left: 15px;*/
    top: 0;
    right: 88px;
}
table{
    width: 1098px;
        /*height: 246px;*/
    background: #f4f4f4;
    margin-left: 30px;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    margin-top: 21px;
}
table tr{
    width: 100%;
    height: 54px;
}
.tr1{
    width: 100%;
    height: 54px;
    background: #ffffff;
}
.tr1 td{
    text-align: center;
    line-height: 54px;
    font-size: 14px;
    color: #999999;
}
.tr1 td:first-child{
    width: 226px;
    height: 54px;
}
.tr1 td:nth-child(2){
    width: 333px;
    height: 54px;
}
.tr1 td:nth-child(3){
    width: 170px;
    height: 54px;
}
.tr1 td:nth-child(4){
    width: 143px;
    height: 54px;
}
tr td{
    text-align: center;
    color: #999999;
    font-size: 14px;
    background: #ffffff;
    position: relative;
}
.btn3{
    width: 82px;
    height: 29px;
    background: #25cb77;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 3px;

}
.btn4{
    width: 82px;
    height: 29px;
    background: #f9f9f9;
    left: 20px;
    top: 19px;
    position: absolute;
    border: none;
}
.btn5{
    width: 82px;
    height: 29px;
    background: #4381e6;
    position: absolute;
    right: 20px;
    top: 19px;
    border: none;
}
.yeshu{
    width: 521px;
    height: 29px;
    background:#ffffff;
    position: absolute;
    bottom: 37px;
    left: 304px;
    display: flex;
    justify-content: space-between;
}
.shang{
    width: 97px;
    height: 29px;
    border: 1px solid #f4f4f4;
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
    line-height: 29px;
    color: #666666;
}
.xia{
    width: 97px;
    height: 29px;
    border: 1px solid #f4f4f4;
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
    line-height: 29px;
    color: #666666;
}
.wei{
    width: 81px;
    height: 29px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #f4f4f4;
    text-align: center;
    line-height: 29px;
    color: #666666;
}
.ye{
    width: 29px;
    height: 29px;
    background: aliceblue;
    line-height: 29px;
    text-align: center;
    color: #999999;
}
.teshu{
    width: 29px;
    height: 29px;
    background: #ffffff;
    line-height: 39px;
    text-align: center;
    color: #999999;

}
.hot{
    background: #4381e6;
    color: #ffffff;
}