@import "base.css";
section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1f4f9;
    padding: 73px 15px 0 195px;
    box-sizing: border-box;
}
section main{
    width: auto;
    height: auto;
    background: #fff;
    margin-bottom: 11px;
    padding: 23px 30px;
    box-sizing: border-box;
}
.top{
    width: 100%;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    position: relative;
    margin-top: 22px;
}
.shuxian{
    width: 2px;
    height: 11px;
    background-image: -webkit-linear-gradient(90deg,#6787ff,#33bffb);
    position: absolute;
    left: 30px;
    top: 2px;
}
.center{
    width: 100%;
    height: 29px;
    margin-top: 21px;
    position: relative;
}
.center span{
    color: #999999;
}
.center input{
    width: 188px;
    height: 29px;
    background: #ffffff;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 14px;
}
.center button{
    width: 82px;
    height: 29px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 3px;
}
.btn1{
    margin-left: 8px;
    background: #4381e6;
}
.btn2{
    background: #25cb77;
    float: right;
}
table{
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    margin-top: 21px;
}
td{
    height: 55px;
    background: #fff;
    line-height: 55px;
    text-align: center;
}

.btn3{
    width: 82px;
    height: 29px;
    background: #25cb77;
    color: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 3px;

}
.btn4{
    width: 82px;
    height: 29px;
    background: #f9f9f9;
    border: none;
}
.btn5{
    width: 82px;
    height: 29px;
    background: #4381e6;
    margin-left: 15px;
    color: #fff;
    border: none;
}
.yeshu{
    width: 521px;
    height: 29px;
    background:#ffffff;
   margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
}
.shang{
    width: 97px;
    height: 29px;
    border: 1px solid #f4f4f4;
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
    line-height: 29px;
    color: #666666;
}
.xia{
    width: 97px;
    height: 29px;
    border: 1px solid #f4f4f4;
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
    line-height: 29px;
    color: #666666;
}
.wei{
    width: 81px;
    height: 29px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #f4f4f4;
    text-align: center;
    line-height: 29px;
    color: #666666;
}
.ye{
    width: 29px;
    height: 29px;
    background: aliceblue;
    line-height: 29px;
    text-align: center;
    color: #999999;
}
.teshu{
    width: 29px;
    height: 29px;
    background: #ffffff;
    line-height: 39px;
    text-align: center;
    color: #999999;

}
.hot{
    background: #4381e6;
    color: #ffffff;
}


a{
    text-decoration: none;
}

/*头部*/
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
header{
    width: 100%;
    height: 58px;
    background: #4381e6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .logo{
    width: 35px;
    height: 36px;
    position: fixed;
    top: 16px;
    left: 42px;
}
header .logo img{
    width: 35px;
    height: 36px;
}
header .title{
    font-size: 18px;
    font-family: FZZYJW;
    color: #fff;
    position: fixed;
    top: 17px;
    left: 88px;
    font-weight: bold;
}
header .portrait{
    width: 28px;
    height: 28px;
    position: fixed;
    top: 14px;
    right: 114px;
}
header .portrait img{
    width: 28px;
    height: 28px;
}
header .use{
    font-size: 14px;
    font-family: "苹方";
    font-weight: bold;
    color: rgba(255,255,255,0.5);
    position: fixed;
    top: 18px;
    right: 36px;
}
.icon-arrow{
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    position: fixed;
    top: 22px;
    right: 12px;
}



nav{
    width: 180px;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 0 15px rgba(218,218,218,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
nav ul{
    width: 100%;
    margin-top: 58px;
}
nav ul li{
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "苹方";
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.asidenav li main{
    height: 0;
    width: 0;
    border-radius: 50%;
    background: rgba(100,100,100,.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.two{
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #4c90ff;
    border-bottom: 1px solid #F4F4F4;
    padding-left: 30px;
    box-sizing: border-box;
    display: none;
}
.three{
    width: 100%;
    height: 40px;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    color: #3fd173;
    border-bottom: 1px solid #F4F4F4;
    padding-left: 55px;
    box-sizing: border-box;
    display: none;
}
footer{
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    bottom: 0;
    color: #666;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
}


/*批量导入的弹出框*/
.import,.cailiao-add{
    width: 393px;
    height: 430px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 2000px 2000px rgba(0,0,0,0.8);
    z-index: 999;
    overflow: hidden;
}
.import-title{
    width: 100%;
    height: 39px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    padding: 4px 8px 0 19px;
    box-sizing: border-box;
    margin-bottom: 9px;
}
.colse{
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: #bdc0c5;
    line-height: 30px;
    text-align: center;
    float: right;
}
.import-con1{
    width: 100%;
    height: 29px;
    padding: 0 36px;
    box-sizing: border-box;
    margin-top: 11px;
}
h6{
    display: inline-block;
    width: 57px;
    height: 29px;
    font-size: 14px;
    color: #999;
    line-height: 29px;
    margin-right: 10px;
    font-weight: normal;
}
input{
    width: 248px;
    height: 29px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    text-indent: 1em;
    line-height: 29px;
}
.uptata-btn{
    width: 82px;
    height: 29px;
    border-radius: 4px;
    background: #4381e6;
    margin-left: 72px;
    color: #fff;
    border: 0;
    outline: none;
    line-height: 29px;
    display: inline-block;
}
.import-con2{
    height: 62px;
}
textarea{
    width: 248px;
    height: 62px;
    resize: none;
    outline: none;
    border:  1px solid #f4f4f4;
}
select{
    width: 248px;
    height: 29px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    text-indent: 1em;
    color: #d6d6d6;
}
.xiugai-btn{
    width: 320px;
    height: 29px;
    border-radius: 4px;
    margin-top: 27px;
    outline: none;
    border: 0;
}

/*分类添加的弹出框*/
.bg2{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class-add{
    width: 393px;
    height: 310px;
    border-radius: 4px;
    z-index: 999;
    overflow: hidden;
}
main{
    width: 100%;
    background: #fff;
    padding-bottom: 27px;
}
.add-con{
    padding: 0 36px;
    box-sizing: border-box;
    width: 100%;
    height: 29px;
    color: #999;
    font-size: 14px;
    margin-bottom: 15px;
}
.add-con select{
    width: 248px;
    height: 29px;
    border-radius: 4px;
    border:  1px solid #f4f4f4;
    box-sizing: border-box;
    text-indent: 1em;
    line-height: 29px;
}
.add-btn{
    width: 320px;
    height: 29px;
    border-radius: 4px;
    margin: 27px auto 0;
    outline: none;
    border: 0;
    display: block;
}


.duigou{
    width: 49px;
    height: 15px;
    display: inline-block;
    margin-right: 13px;
    font-size: 14px;
    color: #999;
    line-height: 15px;
}
.duigou:hover{
    cursor: pointer;
}
.duigou-son{
    width: 15px;
    height: 15px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #f4f4f4;
    margin-right: 4px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.add-hot{
    background: #4381e6;
    border: 0;
}