*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*头部开始*/
header{
    width: 100%;
    height: 58px;
    background: #4381e6;
    position: fixed;
}
.header-left{
    width: 176px;
    height: 36px;
    margin-left: 42px;
    margin-top: 16px;
    float: left;
    display: flex;
    justify-content: space-between;
}
.dolphin{
    width: 35px;
    height: 36px;
    background: url("../img/1@3x.png") no-repeat center;
    background-size: contain;
}
.name{
    font-size: 16px;
    color: #fff;
   margin-top: 7px;
}
.header-right{
    width: 127px;
    height: 28px;
    float: right;
    margin-right: 15px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}
.head{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: url("../img/13@3x.png") no-repeat center;
    background-size: contain;
}
.manager{
    font-size: 13px;
    color: #b2c7f3;
    line-height: 28px;
}
.arrow{
    font-size: 5px;
    color:#b2c7f3;
    line-height: 28px;
}
/*头部结束*/
section{
    width: 100%;
    height: 660px;
    background: #f1f4f9;
    padding-top: 58px;
}
.aside{
    width: 180px;
    height: 100%;
    background: #fff;
    float: left;
    position: fixed;
    top:58px;
    left:0;
}
.class{
    width: 100%;
    height: 240px;
    background: lightskyblue;
}
.class-one{
    width: 178px;
    height: 39px;
    border-bottom: 1px solid #f4f4f4;
    background:#fff;
    border-right: 2px solid #4381e6;
    font-size: 14px;
    color: #4381e6;
    text-align: center;
    line-height: 39px;
}
.class-one:hover{
    background: #ecf2fc
}
.class-two{
    color: #8d8d8d;
    width: 180px;
    border-right: none;
}
.produce{
    width: 1168px;
    height: 100%;
    float: left;
    /*background: fuchsia;*/
    overflow: hidden;
    padding-left: 180px;
}
.content{
    width: 1156px;
    height: 512px;
    /*background: gold;*/
    margin: 15px auto;
}
.message{
    width: 100%;
    height: 60px;
    background: white;
    border-radius: 5px;
    margin-bottom: 11px;
}
.node{
    width: 78px;
    height: 28px;
    float: left;
    margin-top: 16px;
    margin-left: 30px;
}
.word{
    font-size: 14px;
    color: #b8b8b8;
    line-height: 28px;
    float: left;
}
.node>span{
    font-size: 28px;
    color:#4381e6;
    line-height: 28px;
    font-weight: bold;
}
.pass{
    width: 225px;
    height: 28px;
    float: left;
    margin-top: 16px;
    margin-left: 114px;
}
input{
    width: 150px;
    height: 28px;
    outline: none;
    border: none;
    float: right;
    text-indent: 10px;
    background: #f9f9f9;
}
.tijiao{
    width: 82px;
    height: 29px;
    border-radius: 5px;
    background:#4381e6;
    float: right;
    margin-top: 16px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 29px;
    margin-right: 30px;
}
.memory{
    width: 100%;
    height: 191px;
    margin-bottom: 11px;
}
.type{
    width: 378px;
    height: 90px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left,#6787ff,#31c1fb);
    overflow: hidden;
    margin-right: 11px;
    float: left;
    margin-bottom: 11px;
}
.type:nth-child(3){
    margin-right:0;
}
.typename{
    font-size: 11px;
    color: #fff;
    text-align: center;
    margin-top: 26px;
}
.image{
    width: 199px;
    height: 19px;
    margin-top: 10px;
    margin-left: 88px;
    display: flex;
    justify-content: space-between;
}
.image1{
    height:19px;
    float: left;
}
.image1>span{
    font-size: 17px;
    color: #fff;
    float: left;
    line-height: 19px;
}
.zi{
    font-size: 16px;
    color: #c0d9fe;
    float: left;
    line-height: 19px;
}
.type1{
    background-image: -webkit-linear-gradient(left,#0abae1,#25eda3);
}
.type2{
    background-image: -webkit-linear-gradient(left,#fca21d,#ffdb0e);
}
.type3{
    background-image: -webkit-linear-gradient(left,#ff9387,#fa6e88);
}
.type4{
    background-image: -webkit-linear-gradient(left,#847dfd,#ec81ea);
}
.test{
    width: 767px;
    height: 239px;
    border-radius: 5px;
    background: url("../img/hadoop@3x.png") no-repeat center;
    background-size: contain;
}
footer{
    width:100%;
    height: 50px;
    background:#fff;
    font-size: 12px;
    color: #b8b8b8;
    text-align: center;
    line-height: 50px;
    position: absolute;
    z-index: 5;
}
.zhezhao{
    width: 100%;
    height: 768px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.alert{
    width: 393px;
    height: 190px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 246px;
    left: 487px;
}
.top{
    width:100%;
    height: 38px;
    border-bottom: 1px solid #f4f4f4;
    overflow: hidden;
}
.neikuan{
    width: 356px;
    height: 13px;
    margin-top: 15px;
    margin-left: 18px;
    display: flex;
    justify-content: space-between;
}
.set{
    font-size: 13px;
    color: #000;
    line-height: 13px;
}
.symbol{
    font-size: 9px;
    color: #bdc0c5;
    line-height: 13px;
}
.sure{
    width: 233px;
    height: 13px;
    margin-top: 28px;
    margin-left: 79px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffbe22;
    float: left;
    margin-top: 1px;
}
.all{
    font-size: 13px;
    color: #b8b8b8;
    line-height: 13px;
    margin-left: 17px;
}
.btn{
    width: 179px;
    height: 29px;
    /*background: #25eda3;*/
    margin-top: 27px;
    margin-left: 106px;
    display: flex;
    justify-content: space-between;
}
.confirm{
    display: block;
    width: 82px;
    height: 29px;
    border-radius: 5px;
    background: #4381e6;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
}
.cancel{
    width: 80px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid #f4f4f4;
    font-size: 13px;
    color: #b8b8b8;
    text-align: center;
    line-height: 27px;
}