section .maintop1{
    height: 280px;
    background: none;
    padding: 0;
}
.maintop1 .left{
    width: 565px;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    box-sizing: border-box;
}
section .maintop1 .bottom{
    width: 100%;
    height: 100%;
}
section .maintop1 .bottom>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 180px;
    display: inline-block;
}
section .maintop1 .bottom .tands{
    margin-top: 160px;
}
section .maintop1 .bottom .tands img{
    width: 78px;
    height: 38px;
}
#sec{
    max-height: 650px;
    overflow-y: auto;
    padding-bottom: 100px;
}
#mainmid1{
    height:auto ;
}