*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
header{
    width: 100%;
    height: 58px;
    background: #4381e6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .logo{
    width: 35px;
    height: 36px;
    position: fixed;
    top: 16px;
    left: 42px;
}
header .logo img{
    width: 35px;
    height: 36px;
}
header .title{
    font-size: 18px;
    font-family: FZZYJW;
    color: #fff;
    position: fixed;
    top: 17px;
    left: 88px;
    font-weight: bold;
}
header .portrait{
    width: 28px;
    height: 28px;
    position: fixed;
    top: 14px;
    right: 114px;
}
header .portrait img{
    width: 28px;
    height: 28px;
}
header .use{
    font-size: 14px;
    font-family: "苹方";
    font-weight: bold;
    color: rgba(255,255,255,0.5);
    position: fixed;
    top: 18px;
    right: 36px;
}
.icon-arrow{
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    position: fixed;
    top: 22px;
    right: 12px;
}

nav{
    width: 180px;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 0 15px rgba(218,218,218,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
nav ul{
    width: 100%;
    margin-top: 58px;
}
nav ul li{
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "苹方";
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.asidenav li main{
    height: 0;
    width: 0;
    border-radius: 50%;
    background: rgba(100,100,100,.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.two{
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #4c90ff;
    border-bottom: 1px solid #F4F4F4;
    padding-left: 30px;
    box-sizing: border-box;
    display: none;
}
.three{
    width: 100%;
    height: 40px;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    color: #3fd173;
    border-bottom: 1px solid #F4F4F4;
    padding-left: 55px;
    box-sizing: border-box;
    display: none;
}





section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1f4f9;
    padding: 73px 15px 0 195px;
    box-sizing: border-box;
}
section main{
    width: auto;
    height: auto;
    background: #fff;
    margin-bottom: 11px;
    padding: 23px 0;
    box-sizing: border-box;
}
.main-title{
    width: auto;
    height: 12px;
    margin-left: 30px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    color: #666;
    font-weight: bold;
}
.main-title div{
    width: 2px;
    height: 11px;
    display: inline-block;
    margin-right: 8px;
    background-image: -moz-linear-gradient(top,#6787ff,#33bffb);
    background-image: -webkit-linear-gradient(top,#6787ff,#33bffb);
    background-image: -ms-linear-gradient(top,#6787ff,#33bffb);
    background-image: -o-linear-gradient(top,#6787ff,#33bffb);
}
.main-con{
    width: auto;
    height: 29px;
    margin-top: 22px;
    display: flex;
    align-items: center;
}
.main-con select{
    width: 92px;
    height: 27px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    margin-left: 29px;
    color: #9f9f9f;
    outline: none;
}
.main-con input{
    width: 186px;
    height: 27px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    margin-left: 8px;
    color: #9f9f9f;
    outline: none;
    text-indent: 1em;
}
.main-con>button{
    width: 111px;
    height: 29px;
    background: #4381e6;
    border-radius: 3px;
    border: 0;
    outline: none;
    color: #fff;
    margin-left: 9px;
}
.head-img{
    width: 16px;
    height: 18px;
    background: url("../img/user.png")no-repeat center/100%;
    float: left;
}
h1{
    width: auto;
    height: 12px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    color: #666;
    font-weight: bold;
    float: left;
}
.del-btn,.f5-btn{
    width: 82px;
    height: 29px;
    border-radius: 3px;
    outline: none;
    border: 0;
    float: right;
    margin-left: 8px;
    color: #fff;
}
.del-btn{
    background: #4381e6;
}
.f5-btn{
    background: #25cb77;
}
.main-box{
    width: 100%;
    margin-top: 22px;
    padding-left: 30px;
    padding-right: 15px;
    box-sizing: border-box;
}
.main-box table{
    width: 100%;
    background: #f4f4f4;
}
td{
    height: 55px;
    background: #fff;
    line-height: 55px;
    text-align: center;
}
td input{
    width: 13px;
    height: 13px;
    border: 1px solid #4381e6;
    border-radius: 3px;
    line-height: 13px;
    text-align: center;
}
td button{
    width: 82px;
    height: 29px;
    background: #f9f9f9;
    border-radius: 4px;
    color: #999;
    outline: none;
    border: 0;
}
.students td{
    color: #999;
}
.nothing{
    width: 100%;
    height: 125px;
    border: 1px solid #f4f4f4;
    text-align: center;
    line-height: 125px;
    box-sizing: border-box;
}
.main-foot{
    width: 100%;
    height: 80px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}
.main-foot>button{
    width: 95px;
    height: 27px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    background: #fff;
    color: #666;
    margin: 0 4px;
    outline: none;
}
.main-foot>a{
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #666;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    margin: 0 4px;
}
.main-foot>.a-hot{
    background: #4381e6;
    border: 0;
    color: #fff;
}

footer{
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    bottom: 0;
    color: #666;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    z-index: 999;
}
/*批量导入的弹出框*/
.import{
    width: 393px;
    height: 190px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 2000px 2000px rgba(0,0,0,0.8);
    z-index: 999;
}
.import-title{
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #f4f4f4;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    padding: 4px 8px 0 19px;
    box-sizing: border-box;
}
.colse{
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: #bdc0c5;
    line-height: 30px;
    text-align: center;
    float: right;
}
.import-con{
    width: 100%;
    height: 50px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffbe22;
    font-size: 6px;
    line-height: 10px;
    text-align: center;
    color: #fff;
}
.import-con>p{
    font-size: 14px;
    color: #a6a6a6;
    text-align: left;
    line-height: 14px;
    width: 180px;
    height: 14px;
    margin-left: 6px;
}
.import-btn{
    width: 82px;
    height: 30px;
    background: #4381e6;
    color: #fff;
    font-size: 14px;
    outline: none;
    border: 0;
    border-radius: 4px;
    margin-left: 11px;
}

/*新建学生的弹出框*/
.new{
    width: 324px;
    height: 434px;
    border-radius: 4px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 2000px 2000px rgba(0,0,0,0.8);
    z-index: 999;
}
.new>ul{
    width: 100%;
    padding: 10px 35px;
    box-sizing: border-box;
    overflow: hidden;
}
.new>ul>li{
    margin-top: 15px;
    width: 250px;
    height: 29px;
}
.new>ul>li>span{
    display: inline-block;
    width: 74px;
    height: 29px;
    color: #707070;
    font-size: 14px;
    line-height: 29px;
    text-align: left;
    float: left;
}
.new>ul>li>input{
    width: 176px;
    height: 29px;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    float: left;
    border-radius: 4px;
    outline: none;
    text-indent: 1em;
}
.new-foot{
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-foot>button{
    width: 82px;
    height: 29px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
.save-btn{
    background: #4381e6;
    color: #fff;
    border: 0;
}
.abort-btn{
    color: #999;
    border: 1px solid #f4f4f4;
    margin-left: 17px;
    background: #fff;
}





