*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body html{
    background: #0a296a;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
}
.bigbg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #0a296a;
}
.square1{
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
}
.square1 img{
    height: 100%;
    width: 100%;
}
.square2{
    width: 20%;
    height: 64%;
    position: fixed;
    top: 0;
    right: 0;
}
.square2 img{
    width: 100%;
    height: 100%;

}
.bg{
    width: 760px;
    height: 480px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
}
.bigdt{
    width: 400px;
    height: 510px;
    background: url("../img/welcome.png") no-repeat center;
    background-size: 400px 520px;
    position: absolute;
    top: -13px;
    left: -15px;
}
.login{
    width: 360px;
    height: 480px;
    /*background: cyan;*/
    position: absolute;
    top: 0;
    right: 0;
}
.logo{
    width: 84px;
    height: 84px;
    background: url("../img/ueklogo.png") no-repeat center;
    background-size: 84px 84px;
    margin: 30px auto;
    animation: scale 4s linear infinite;
}
@keyframes scale {
    0%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(1.1,1.1);
    }
    50%{
        transform: scale(1.2,1.2);
    }
    75%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}
.first{
    width: 260px;
    height: 30px;
    /*background: orangered;*/
    border-bottom: 1px solid #b4cdf5;
    margin: -20px auto;
}
.firstL{
    width: 16px;
    height: 30px;
    background: url("../img/user.png") no-repeat center;
    background-size: 16px 18px;
    float: left;
}
.firstword{
    width: 225px;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 15px;
    float: left;
    color: #b4cdf5;
}
.second{
    width: 260px;
    height: 30px;
    /*background: orangered;*/
    border-bottom: 1px solid #b4cdf5;
    margin: 30px auto;
}
.secondL{
    width: 16px;
    height: 30px;
    background: url("../img/email.png") no-repeat center;
    background-size: 16px 12px;
    float: left;
}
.secondword{
    width: 225px;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 15px;
    float: left;
    color: #b4cdf5;
}
.third{
    width: 260px;
    height: 30px;
    /*background: orangered;*/
    border-bottom: 1px solid #b4cdf5;
    margin: -18px auto;
}
.thirdL{
    width: 16px;
    height: 30px;
    background: url("../img/suo.png") no-repeat center;
    background-size: 14px 18px;
    float: left;
}
.thirdword{
    width: 225px;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 15px;
    float: left;
    color: #b4cdf5;
}
.fourth{
    width: 260px;
    height: 30px;
    /*background: orangered;*/
    border-bottom: 1px solid #b4cdf5;
    margin: 30px auto;
}
.fifth{
    width: 260px;
    height: 30px;
    /*background: orangered;*/
    /*border-bottom: 1px solid yellow;*/
    margin: -18px auto;
}
.fifthL{
    width: 138px;
    height: 30px;
    border-bottom: 1px solid #b4cdf5;
    float: left;
}
.fifthicon{
    width: 16px;
    height: 30px;
    background: url("../img/dunpai.png") no-repeat center;
    background-size: 16px 18px;
    float: left;
}
.fifthword{
    width: 107px;
    height: 30px;
    outline: none;
    border: none;
    float: right;
    padding-left: 15px;
    color: #b4cdf5;
}
.fifthR{
    width: 102px;
    height: 29px;
    float: right;
    border: 1px solid #b4cdf5;
    border-radius: 5px;
    line-height: 29px;
    text-align: center;
    font-size: 11px;
    color: #7ba7ed;
}
.btn1{
    display: block;
    text-decoration: none;
    width: 260px;
    height: 32px;
    background: -webkit-linear-gradient(left,#4282e6,#30c1fa);
    margin: 55px auto;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}
.lost{
    display: block;
    margin-left: 146px;
    margin-top: -20px;
    color: #7ba7ed;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}


.zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    /*display: none;*/
}
.smallzz{
    width: 454px;
    height: 220px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
}
.smallzz span{
    /*display: block;*/
    float: right;
    text-decoration: none;
    margin-right: 19px;
    margin-top: 18px;
    font-size: 10px;
    /*color: red;*/
    color: #bdc0c5;
}
.maskword{
    width: 230px;
    height: 34px;
    /*background: #30c1fa;*/
    margin-top: 92px;
    margin-left: 117px;
}
.maskword1{
    width: 10px;
    height: 34px;
    background: url("../img/gantanhao.png") no-repeat center;
    background-size: 10px 10px;
    float: left;
}
.maskword2{
    width: 214px;
    height: 34px;
    float: right;
    font-size: 12px;
    text-align: left;
    line-height: 34px;
    margin-left: 6px;
    color: #999999;
}
